@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS A LA GESTION DE JUEGOS OLIMPICOS</h1>
</div>
<div>   
    <ul>
        <li>@Html.ActionLink("Lista de Atletas", "Index", "Atleta")</li>
        <li>@Html.ActionLink("Crear Nuevo Atleta", "Crear", "Atleta")</li>
        <li>@Html.ActionLink("Asignar Disciplinas", "AsignarDisciplinas", "Atleta", new { atletaId = 1 }, null)</li>
    </ul>
</div>

@ViewBag.Mensaje